
## <summary>policy for volt</summary>


########################################
## <summary>
##	Transition to volt.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`volt_domtrans',`
	gen_require(`
		type volt_t, volt_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, volt_exec_t, volt_t)
')


########################################
## <summary>
##	Execute volt server in the volt domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`volt_initrc_domtrans',`
	gen_require(`
		type volt_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, volt_initrc_exec_t)
')


########################################
## <summary>
##	Search volt lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`volt_search_lib',`
	gen_require(`
		type volt_var_lib_t;
	')

	allow $1 volt_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read volt lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`volt_read_lib_files',`
	gen_require(`
		type volt_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, volt_var_lib_t, volt_var_lib_t)
')

########################################
## <summary>
##	Manage volt lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`volt_manage_lib_files',`
	gen_require(`
		type volt_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, volt_var_lib_t, volt_var_lib_t)
')

########################################
## <summary>
##	Manage volt lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`volt_manage_lib_dirs',`
	gen_require(`
		type volt_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, volt_var_lib_t, volt_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a volt environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`volt_admin',`
	gen_require(`
		type volt_t;
		type volt_initrc_exec_t;
		type volt_var_lib_t;
	')

	allow $1 volt_t:process { ptrace signal_perms };
	ps_process_pattern($1, volt_t)

	volt_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 volt_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, volt_var_lib_t)

')

